<nav class="mdl-navigation">
    <a [ngClass]="[activeCode === 'en' ? 'active' : '']" class="mdl-navigation__link" (click)="changeLanguage('en')">
        <span class="icon-uk"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span><span
                class="path6"></span><span class="path7"></span><span class="path8"></span><span
                class="path9"></span><span class="path10"></span><span class="path11"></span><span
                class="path12"></span><span class="path13"></span><span class="path14"></span></span>
        English
    </a>
    <a [ngClass]="[activeCode === 'fr' ? 'active' : '']" class="mdl-navigation__link" (click)="changeLanguage('fr')">
        <span class="icon-fr"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span></span>
        French
    </a>
    <a [ngClass]="[activeCode === 'ta' ? 'active' : '']"  class="mdl-navigation__link" (click)="changeLanguage('ta')">
        <span class="icon-in"><span class="path1"></span><span class="path2"></span><span
            class="path3"></span><span class="path4"></span><span class="path5"></span><span
            class="path6"></span></span>
    Tamil
    </a>
</nav>