/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mdl-layout__content {
  padding: 25px;

  .page-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    margin: 10px 0;

    .mdl-card{
      width: auto;
    }
  }
}